html {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: underline;
  color: #d68f8f;
}

.strong {
  font-weight: 700;
}

.path {
  font-family: Consolas, "Courier New";
  color: rgb(204, 204, 204);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 3px;
}

.smalltitle {
  display: block;
  font-weight: 700;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
.smalltitle.info {
  color: #639fd6;
  border-color: #639fd6;
}
.smalltitle.warning {
  color: #ebca71;
  border-color: #ebca71;
}

.ueClass {
  background-image: linear-gradient(90deg, #00a8f2, transparent);
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-size: 100% 110%;
  border-radius: 100px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3137254902);
  border-width: 2px;
  box-shadow: inset 0px 10px 10px rgba(255, 255, 255, 0.3137254902);
  padding: 5px 10px;
  color: white;
  text-shadow: 0px 0px 3px black;
  display: table;
  margin-bottom: 10px;
  margin-left: -30px;
  font-family: Consolas, "Courier New";
}
.ueClass.interface {
  background-image: linear-gradient(90deg, #c3ce88, transparent);
}
.ueClass.struct {
  background-image: linear-gradient(90deg, #006eff, transparent);
}
.ueClass.table {
  background-image: linear-gradient(90deg, #2eb640, transparent);
}

.ueVar {
  font-family: Consolas, "Courier New";
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  border-bottom: 2px solid rgba(0, 168, 242, 0.8);
}
.ueVar.string {
  border-bottom: 2px solid rgba(254, 0, 212, 0.8);
}
.ueVar.boolean {
  border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}
.ueVar.byte {
  border-bottom: 2px solid rgba(0, 111, 101, 0.8);
}
.ueVar.int {
  border-bottom: 2px solid rgba(30, 227, 175, 0.8);
}
.ueVar.float {
  border-bottom: 2px solid rgba(55, 213, 0, 0.8);
}
.ueVar.name {
  border-bottom: 2px solid rgba(205, 130, 254, 0.8);
}
.ueVar.text {
  border-bottom: 2px solid rgba(232, 124, 170, 0.8);
}
.ueVar.vector {
  border-bottom: 2px solid rgba(255, 202, 34, 0.8);
}
.ueVar.rotator {
  border-bottom: 2px solid rgba(160, 180, 254, 0.8);
}
.ueVar.transform {
  border-bottom: 2px solid rgba(254, 115, 0, 0.8);
}
.ueVar.interface {
  border-bottom: 2px solid rgba(195, 206, 136, 0.8);
}
.ueVar.struct {
  border-bottom: 2px solid rgba(0, 110, 255, 0.8);
}
.ueVar.table {
  border-bottom: 2px solid rgba(46, 182, 64, 0.8);
}

.ueMethod {
  font-family: Consolas, "Courier New";
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  line-height: 2em;
  border-radius: 3px;
}
.ueMethod .context {
  padding: 2px 8px;
  border-left: 2px solid #ffffff;
  float: right;
}

.button, #main h3 {
  display: inline-block;
  background: linear-gradient(0deg, rgb(56, 56, 56), rgb(77, 77, 77));
  border: solid 1px rgba(13, 13, 13, 0.75);
  border-radius: 2px;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.3);
  padding: 8px 8px;
  color: #ffffff;
  text-shadow: black 0px 0px 5px;
}
a {
  text-decoration: unset;
}

.button:hover, #main h3:hover {
  background: linear-gradient(0deg, rgb(82, 82, 82), rgb(77, 77, 77));
}
.button.green, #main h3.green {
  background: linear-gradient(0deg, #3a682c, #4d873b);
}
.button.green:hover, #main h3.green:hover {
  background: linear-gradient(0deg, #528f40, #4d873b);
}
.button.red, #main h3.red {
  background: linear-gradient(0deg, #920000, #bd0000);
}
.button.red:hover, #main h3.red:hover {
  background: linear-gradient(0deg, #c80000, #bd0000);
}
.button.dark, #main h3.dark {
  background: linear-gradient(0deg, #121212, #1a1a1a);
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.1);
}
.button.dark:hover, #main h3.dark:hover {
  background: linear-gradient(0deg, #1d1d1d, #1a1a1a);
}
.button.blue, #main h3.blue {
  background: linear-gradient(0deg, #245e92, #317abd);
}
.button.blue:hover, #main h3.blue:hover {
  background: linear-gradient(0deg, #3582c9, #317abd);
}
.button img, #main h3 img {
  vertical-align: middle;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6666666667));
  width: 20px;
  margin-right: 12px;
}
.button span, #main h3 span {
  vertical-align: middle;
}
.button .download::before, #main h3 .download::before {
  background-image: url(img/download.png);
}

.comment {
  color: rgba(255, 255, 255, 0.8);
}

.block {
  background-color: rgba(255, 255, 255, 0.0666666667);
  padding: 12px;
  display: block;
  overflow-wrap: break-word;
  margin: 10px;
}
.block.black {
  background-color: rgba(0, 0, 0, 0.2);
}

.clear {
  clear: both;
  display: block;
}

.version {
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1px 6px;
}

#visualizer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4392156863);
  display: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 95%;
  background-position: center center;
}
#visualizer.show {
  display: block;
}

#header {
  background-color: #2f2f2f;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: left center;
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1882352941);
  overflow: hidden;
}
@media (max-width: 768px) {
  #header {
    background-position: right center;
  }
}
#header h1 {
  font-size: 40px;
  margin-left: 200px;
  margin-top: 40px;
  text-align: left;
  font-weight: 700;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1882352941);
}
@media (max-width: 768px) {
  #header h1 {
    font-size: 30px;
    margin-left: 10px;
  }
}
#header h2 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1882352941);
}
#header p {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1882352941);
}
#header .logo {
  position: relative;
  margin-top: -15px;
  margin-left: 30px;
  opacity: 100%;
}
#header .logo img {
  height: 130px;
  position: absolute;
}

#main {
  margin: 20px auto auto auto;
  min-height: 100px;
  width: 70%;
}
@media (max-width: 768px) {
  #main {
    width: 100%;
  }
}
#main h2 {
  font-size: 30px;
}
#main h2, #main h3 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1882352941);
}
#main p img.screenshot {
  max-width: 200px;
  float: left;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
}
#main h3 {
  font-size: 20px;
  margin: 0px;
  margin-left: -30px;
  display: block;
  background: linear-gradient(0deg, #121212, #1a1a1a);
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.1);
  font-weight: 100;
}
#main h3:hover {
  background: linear-gradient(0deg, #121212, #1a1a1a);
}
#main h4 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1882352941);
  margin-bottom: 10px;
}
#main p {
  margin-left: 20px;
  margin-right: 20px;
}

#menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #2f2f2f;
}
@media (max-width: 768px) {
  #menu {
    background-color: transparent;
  }
}
#menu #mainmenu {
  display: flex;
}
@media (max-width: 768px) {
  #menu #mainmenu {
    display: none;
  }
}
@media (max-width: 768px) {
  #menu.show {
    background-color: #2f2f2f;
  }
}
@media (max-width: 768px) {
  #menu.show #mainmenu {
    display: flex;
  }
}

#mobilemenu {
  display: none;
}
#mobilemenu.button img, #main h3#mobilemenu img {
  margin: 0px;
}
@media (max-width: 768px) {
  #mobilemenu {
    display: inline-block;
  }
}/*# sourceMappingURL=main.css.map */